@import "normalize";
@import "bourbon/bourbon";
@import url(http://fonts.googleapis.com/css?family=Lora:400,700);

$base-font-family: "Lora", $georgia;

* {
  @include box-sizing(border-box);
}

html {
  @include linear-gradient(40deg, #8c96a0, #8d9da7);
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  color: rgba(white, 0.7);
  font-family: $base-font-family;
  padding: 2em;

  @media screen and (min-width: 340px) {
    padding: 4em;
  }

  @media screen and (min-width: 720px) {
    font-size: 1.25em;
  }

  @media screen and (min-width: 1024px) {
    font-size: 1.5em;
  }
}

h1 {
  color: white;
  font-size: em(32);
  font-weight: 400;
  margin-bottom: 0.25em;
}

p {
  font-size: em(18);
  line-height: 1.5;
  margin-bottom: 1em;
  max-width: em(480);
}

a {
  transition: color 0.1s linear;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

ul {
  @include display(flex);
  list-style-type: none;
  margin-top: 3em;
  padding-left: 0;
}

li:not(:first-child) {
  margin-left: 1em;
}

$colors: (
  ansible: #72f285,
  linkedin: #fcd656,
  twitter: #90dbf9,
  rdio: #f28572,
  email: #f8bbd0
);

@each $target, $color in $colors {
  .#{$target} {
    &:hover,
    &:focus,
    &:active {
      color: $color;
    }
  }
}
